
@{
    ViewBag.Title = "Human";
}

@section Styles
{
    @Styles.Render("~/bundles/prettifyCss")
}

@section Scripts
{
    <script>
        var HumanModel = ko.observable(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new TZM.SignalR.WebApi.Models.Human())));
        var errors = ko.observableArray();
    </script>

    <script src="~/Scripts/api-get-human.js"></script>

    @Scripts.Render("~/bundles/prettifyJs")
}

<h2>Find a Human</h2>

<div class="alert alert-success" data-bind="css: { 'alert-danger': gotError }">
    <span data-bind="text: response()"></span>
</div>
<div class="form-group">
    <label>Human Identification #</label>
    <input class="form-control" data-bind="value: input.humanId" />
</div>
<div class="form-group">
    <label>Guess a Number from 1 to 100</label>
    <input class="form-control" data-bind="value: input.guessedNumber" />
</div>
<button class="btn btn-primary" data-bind="click: GetHuman">Find Human</button>


<h2>Human</h2>
<div class="well">
    <pre class="prettyprint">
    Human ID: <!--ko text: humanViewModel.humanId--><!--/ko-->
    Gender: <!--ko text: humanViewModel.gender--><!--/ko-->
    Note To Self: <!--ko text: humanViewModel.noteToSelf--><!--/ko-->
    </pre>
</div>
